# Database
DATABASE_URL="mysql://eduarch:password@localhost:3306/eduarch"

# JWT
JWT_SECRET="ganti_dengan_random_string_yang_panjang_dan_aman"

# Storage
STORAGE_PATH="./storage"

# Meilisearch (opsional)
MEILISEARCH_URL="http://localhost:7700"
MEILISEARCH_KEY="master_key_rahasia"

# App
NODE_ENV="development"
PORT=3000
